// theme
$primary-color:#397FBF;
$secondary-color:#194D8D;
$tertiary-color:#FAA41F;
$bg-color:#F7F7F7;
$divider-color:#EDEFF2;
$body-table-content:#404040;
$alert-warning:#DF2D00;
$status:#19AA00;
$heavy-blue:#131523;
$dirty-brown:#404040;
$white:#FFF;
$fainted:#99ADC5;
$faint-sky:#BDBDBD;
// typograpghy
@import './fonts';
$inter-regular:'Inter-regular';
$inter-medium:'Inter-medium';
$inter-bold:'Inter-bold';

//rodrick
$white:               #ffffff;
$wild-sand:           #f6f6f6;
$alto:                #e0e0e0;
$tundora:             #404040;
$dawn:                #9b9a99;
$mercury:             #eaeaea;
$silver-chalice:      #ababab;
$tree-poppy:          #faa41f;
$grenadier:           #df2d00;
$harlequin:           #47ce00;
$japanese-laurel:     #19aa00;
$nepal:               #99adc5;
$boston-blue:         #397fbf;
$azure-radiance:      #007fff;
$link-water:          #f0f5fb;
$ghost:               #c8ccd1;
$pickled-bluewood:    #2f4259;
$chathams-blue:       #194d8d;
$port-gore:           #2b255d;
$eminence:            #662683;
$purple-heart:        #751cdd;
$kashmir-blue:        #526f93;
$athens-gray:         #edeff2;
$comet:               #5a607f;
$waterloo:            #7e84a3;
$mirage:              #131523;
$mine-shaft:          #292929;
$dune:                #2b2826;
$black:               #000000;

