@import '../../../styles/index.scss';

table, td, th {
  border: 1px solid $mercury;
}



table {
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(21, 34, 50, 0.08);

  // :not(caption) > * > * {
  //   padding: 0.5rem 0.5rem;
  //   background-color: transparent;
  //   border-bottom-width: 1px;
  //   box-shadow: inset 0 0 0 99px $link-water;
  // }

  th {
    @include table-header;
    color: $boston-blue;
  }

  td {
    @include table-data;
  }
}
