<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">View Name</th>
    <th scope="col">View Description</th>
    <th scope="col">Auditor</th>
    <th scope="col">Follow-up</th>
    <th scope="col">Status</th>
    <th scope="col">Account Age</th>
    <th scope="col">Hidden Records</th>
    <th scope="col">Default View</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of entries | async">
    <td scope="row">{{entry.viewName}}</td>
    <td>{{entry.viewDescription}}</td>
    <td>{{entry.auditor}}</td>
    <td>{{entry.followUp}}</td>
    <td>{{entry.status}}</td>
    <td>{{entry.accountAge}}</td>
    <td>{{entry.hiddenRecords}}</td>
    <td>{{entry.defaultView}}</td>
  </tr>
  </tbody>
</table>

<!-- <div class="d-flex justify-content-between p-2">
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="paginateEntries()">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
  </select>
</div> -->
